/*GENERAL*/
.activity {
  margin: 2%;
  background-color: white;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
}

.actLeft {
  flex-direction: row;
}

.actRight {
  flex-direction: row-reverse;
}

.text {
  padding-top: 1em;
  position: relative;
  float: left;
  margin: 3%;
  color: #000000;
  text-align: start;
  font-size: 15px;
  width: 45%;
}

.description {
  line-height: 17px;
}

.main {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.5%;
  padding-bottom: 3em;
  font-family: "Roboto";
  clear: both;
  background-color: #f1f1f1;
}

.titlesActivity {
  border-bottom: 3px solid #b11200;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  width: max-content;
}

.rol {
  line-height: 2px;
  font-weight: lighter;
  color: #b11200;
}

.miniature {
  float: left;
  margin: 3%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/*WEB*/
@media only screen and (min-width: 768px) {
  .miniature {
    width: 20em;
  }
}

/*MOVIL*/
@media only screen and (max-width: 767px) {
  .miniature {
    max-width: 50%;
    height: 20em;
    object-fit: cover;
    align-self: center;
  }

  .miniature1 {
    object-position: 55%;
  }
  #miniature2 {
    object-position: left;
  }
  .miniature3 {
    object-position: 80%;
  }
  #miniature4 {
    object-position: 40%;
  }
}
