@media only screen and (min-width: 768px) {
  .main {
    position: relative;
    width: 100%;
    content: "";
    clear: both;
    display: flex;
    flex-direction: column;
    padding-top: 0.5%;
  }

  .content {
    margin: 2%;
    align-self: center;
    width: 85%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    position: relative;
    width: 100%;
    content: "";
    clear: both;
    display: flex;
    flex-direction: column;
    padding-top: 0.5%;
  }

  .content {
    margin: 2%;
    align-self: center;
    width: 85%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
}

.main article h1 {
  border-bottom: 3px solid #b11200;
}

.active,
.accordion:hover {
  background-color: rgba(23, 23, 23, 0.9);
  color: white;
}

.active1,
.accordion1:hover {
  background-color: #497583;
  color: white;
}

.active2,
.accordion2:hover {
  background-color: #d8ac34;
  color: white;
}

.accordion,
.accordion1,
.accordion2 {
  background-color: #cfcfcf;
  margin-bottom: 0.5em;
  color: rgb(37, 37, 37);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
