.news {
  position: relative;
  float: left;
  border-left: 4px solid #4d7c8a;
  height: 100%;
  background-color: white;
}

.new::after {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
}

.content {
  position: relative;
  float: left;
  background-color: white;
  border-radius: 5px;
}

#miniature {
  position: relative;
  float: left;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 3px solid #414141;
}

#confirmation {
  float: left;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#description {
  position: relative;
  float: left;
  line-height: 17px;
  text-align: start;
}

#banner {
  width: 100%;
}

.artist {
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.artists {
  display: flex;
  justify-content: center;
}

.text {
  position: relative;
  float: left;
  text-align: start;
}

#rol {
  line-height: 2px;
  font-weight: lighter;
  color: #b11200;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #d8ac34;
  color: white;
}

.banner a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.content .section .title h1 {
  border-bottom: 3px solid #b11200;
}

.title {
  width: 33%;
}

.banner#banner2 {
  background-color: #4d7c8a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.localizacion {
  display: flex;
}

.banner .column2 {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.column2 h3 {
  border-bottom: 2px solid white;
}

@media only screen and (min-width: 768px) {
  .artists {
    margin-top: 3em;
    margin-bottom: 3em;
    flex-direction: row;
  }
  .news {
    margin-top: 5%;
    width: 23%;
  }

  .new::after {
    margin: 5%;
  }

  .content {
    margin: 2%;
    width: 70%;
  }

  #miniature {
    width: 3em;
    height: 3em;
    margin-left: 10%;
    margin-top: 3%;
  }

  #confirmation {
    width: 14em;
    height: 16em;
    margin-top: 3%;
  }

  #description {
    width: 60%;
    margin-left: 5%;
    font-size: 12px;
  }

  .artist {
    margin-left: 3em;
    margin-right: 3em;
    width: 18em;
    height: 24em;
  }

  .text {
    padding-top: 1em;
    width: 90%;
    margin-left: 5%;
    font-size: 15px;
  }

  .banner {
    padding: 2em;
  }

  .title {
    padding-left: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .artists {
    flex-direction: column;
    margin-top: 3em;
    /**/
  }
  .news {
    margin-top: 5%;
    width: 23%;
  }

  .new::after {
    margin: 5%;
  }

  .content {
    margin: 2%;
    width: 70%;
  }

  #miniature {
    width: 3em;
    height: 3em;
    margin-left: 10%;
    margin-top: 3%;
  }

  #confirmation {
    width: 14em;
    height: 16em;
  }

  #description {
    width: 60%;
    margin-left: 5%;
    font-size: 12px;
  }

  .artist {
    margin-bottom: 3em;
  }

  .text {
    padding-top: 1em;
    width: 90%;
    margin-left: 5%;
    font-size: 15px;
  }

  .banner {
    padding: 2em;
  }

  .title {
    padding-left: 1em;
  }
}
