.news {
  position: relative;
  float: left;
  border-left: 4px solid #4d7c8a;
  margin-top: 5%;
  width: 23%;
  background-color: #f1f1f1;
  height: 100%;
  background-color: white;
}

.main::after {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
}

.main {
  background-color: #f1f1f1;
}

.new::after {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
  margin: 5%;
}

.content {
  position: relative;
  margin: 2%;
  float: left;
  width: 70%;
  font-family: "Roboto";
  background-color: white;
  border-radius: 5px;
}

#miniature {
  position: relative;
  float: left;
  width: 3em;
  height: 3em;
  margin-left: 10%;
  margin-top: 3%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 3px solid #414141;
}

#confirmation {
  float: left;
  width: 14em;
  height: 16em;
  margin-top: 3%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#description {
  position: relative;
  float: left;
  width: 60%;
  margin-left: 5%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: start;
}

#banner {
  width: 100%;
}

.artist {
  float: left;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 18em;
  height: 24em;
}

.artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  padding-top: 1em;
  position: relative;
  float: left;
  width: 90%;
  margin-left: 5%;
  color: #000000;
  text-align: start;
  font-size: 15px;
}

#rol {
  line-height: 2px;
  font-weight: lighter;
  color: #de1700;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.banner {
  background-color: #d8ac34;
  flex-direction: row;
  color: white;
  padding: 2em;
}

.banner a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.content .section .title h1 {
  border-bottom: 3px solid #de1700;
}

.title {
  padding-left: 1em;
}
.banner#banner2 {
  background-color: #4d7c8a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.localizacion {
  display: flex;
}

.banner .column2 {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.column2 h3 {
  border-bottom: 2px solid white;
}
