
.col {
  position: relative;
  margin: 2em;
  font-family: "Roboto";
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0b0b0c;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.error {
  position: absolute;
  left: 20px;
  top: 0px;
  background-color: red;
  padding: 0 20px;
}
