.form {
  background-color: #c4c4c4;
  margin: 3em;
  margin-top: 3em;
}

.col {
  position: relative;
  left: 30%;
  margin-bottom: 2em;
  margin-right: -50%;
}

input,
select {
  border-radius: 5px;
}
