/*resto*/
@media only screen and (min-width: 768px) {
  .information {
    width: 80%;
  }
  .information-box {
    margin-left: 200px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    max-height: 90vh;
    align-self: flex-start;
    background-color: #f1f1f1;
  }
  .sidebar a {
    display: block;
  }
}

/*movil*/
@media only screen and (max-width: 767px) {
  .information {
    width: 90%;
  }
  .sidebar a {
    text-align: center;
    float: none;
    display: block ruby;
  }
  .sidebar {
    width: 100%;
    display: flex;
  }
}

.main {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
  clear: both;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  padding-top: 0.5%;
}

div.content {
  /*display: flex;*/
  width: 100%;
}

.sidebar a {
  color: black;
  padding: 16px;
  text-decoration: none;
}

.information-box {
  position: relative;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.information {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.table-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
}

.artist {
  float: left;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  margin-top: 3em;
  width: 18em;
  height: 24em;
}

.artists {
  position: relative;
  margin: 4%;
  float: left;
  width: auto;
  justify-content: center;
  display: grid;
}

.miniature {
  float: left;
  width: 18em;
  height: 20em;
  margin-top: 3%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text {
  padding-top: 1em;
  position: relative;
  float: left;
  width: 90%;
  margin-left: 5%;
  color: #000000;
  text-align: start;
  font-size: 15px;
}

.description {
  line-height: 17px;
}

.rol {
  line-height: 2px;
  font-weight: lighter;
  color: #b11200;
}

.picture img {
  border-radius: 50%;
  width: 6em;
  margin-right: 2em;
  box-shadow: 0px 0px 10px 0px #b11200;
}

iframe {
  width: 560px;
  height: 315px;
  border: 0;
}

table {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  max-width: 60em;
  background-color: #f1f1f1;
}

table th,
table td {
  padding: 0.5rem 1rem;
}

table th {
  font-weight: normal;
  background-color: #333333;
  color: white;
}

table td {
  border-bottom: 2px solid #b11200;
}

.sidebar a.active {
  background-color: #d1b721;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.miniature:hover {
  transform: scale(1.07);
}

article {
  margin-bottom: 5em;
  align-self: center;
}

.sidebar {
  overflow: auto;
  background-color: #f1f1f1;
}
