.main {
  position: relative;
  width: 100%;
  content: "";
  display: flex;
  clear: both;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  padding-top: 0.5%;
  font-family: "Roboto";
}

.artist {
  float: left;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 18em;
  height: 24em;
}

.artists {
  position: relative;
  margin: 2%;
  float: left;
  width: auto;
  justify-content: center;
  display: grid;
}

#miniature:hover {
  height: 21em;
  width: 19em;
}

#miniature {
  float: left;
  width: 18em;
  height: 20em;
  margin-top: 3%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text {
  padding-top: 1em;
  position: relative;
  float: left;
  width: 90%;
  margin-left: 5%;
  color: #000000;
  text-align: start;
  font-size: 15px;
}

#description {
  line-height: 17px;
}

#rol {
  line-height: 2px;
  font-weight: lighter;
  color: #de1700;
}

#information {
  position: relative;
  /*margin: 5%;*/
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  /*padding: 1px 16px;*/
  flex-direction: column;
}

.picture {
  /*width: 20%;*/
}

.picture img {
  border-radius: 50%;
  width: 6em;
  margin-right: 2em;
}

article {
  width: 80%;
}

.iframe {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#picture-article {
  width: 700px;
}

/* sidebar */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  align-self: flex-start;
  /*border-right: 2px solid #de1700;*/
  background-color: #f1f1f1;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #d1b721;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
