/*GENERAL*/
.main {
  position: relative;
  width: 100%;
  content: "";
  clear: both;
  display: flex;
  flex-direction: column;
  padding-top: 0.5%;
  padding-bottom: 3em;
  font-family: "Roboto";
}

article {
  margin: 2%;
}

.content {
  margin: 2%;
  align-self: center;
  width: 85%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

.main article h1 {
  border-bottom: 3px solid #b11200;
}

.main article iframe {
  border: 0;
}

/*WEB*/
@media only screen and (min-width: 768px) {
  .main article iframe {
    width: 600px;
    height: 450px;
  }
}

/*MOVIL*/
@media only screen and (max-width: 767px) {
  .main article iframe {
    width: 300px;
    height: 225px;
  }
}